#sidebar {
    background:  #ffe4ad;
    padding: 20px;
    transition: all 1s;
    box-shadow: #ffac00 0 0 0 10px, #ffac008f 0 0 0 20px;
    animation: sidebarC 4s;
}
@keyframes sidebarC {
    45% {
        height: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: calc(100vh - 166px);
    }
}
#sidebar .info {
    margin: 20px 0;
}
#sidebar .info img {
    border-radius: 50%;
}
#sidebar .info img:hover {
    border-radius: 50%;
    animation: head .6s
}
@keyframes head {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0)
    }
}
#sidebar .info div {
    display: inline-block;
    width: calc(100% - 70px);
    vertical-align: middle;
    margin-left: 10px;
}
#sidebar .social a {
    background: #ffcf6b;
    padding: 6px;
    border-radius: 4px;
    color: #ffffff;
    margin: 4px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}
#sidebar .social a:hover {
    background: #ffb51c;
}
#sidebar .social a i {
    font-size: 26px;
}
#sidebar .social a img {
    height: 26px;
}
#sidebar .category-list {
    background: #ffffed;
    color: #808080;
    border-radius: 4px;
    padding: 8px;
    margin: 20px 0;
}
#sidebar .category-list-item {
    list-style: circle;
    margin-left: 20px;
    transition: all .4s;
    position: relative;
}
#sidebar .category-list-item span {
    float: right;
    z-index: 1;
}
#sidebar .category-list-item span::after {
    content: ')'
}
#sidebar .category-list-item span::before {
    content: '(';
}
#sidebar.tags a:hover::after, #sidebar .relat li:hover::after, #sidebar .category-list li:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffac00;
    animation: .6s tag-hover;
}
#sidebar .tags a  {
    display: inline-block;
    position: relative;
    padding: 4px;
}
@keyframes tag-hover {
    0% {
        width: 0;
    }
}
#sidebar .relat li {
    transition: all .4s;
    list-style: circle;
    margin-left: 10px;
    position: relative;
}
#sidebar .relat li:hover,  #sidebar .category-list-item:hover, .structure .toc a:hover {
    color: #ffac00
}
.structure .toc {
    margin-left: 10px;
}
.structure .toc .toc-item {
    position: relative;
}
.structure .toc .toc-number {
    color: #ffac00;
    font-weight: 900;
}
