extends _partial/layout.pug

block cssFile
    link(rel="stylesheet" href="/css/tag.css")

block main
    .maxwidth
        include _partial/sidebar.pug
        .tag.rightside
            .artititle= page.tag
            include _partial/posts.pug
        include _partial/footer.pug
