.archive {
    position: relative;
}
.switch {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 60px solid #ffe4ad;
    border-left: 110px solid transparent;
    cursor: pointer;
}
.switch i {
    font-size: 30px;
    position: absolute;
    top: -54px;
    left: -38px;
    color: #ffac00;
}
#list_archives, #normalposts {
    transition: opacity 1s
}
.archive-list li {
    list-style: circle;
    margin: 20px;
}
.archive-list li span {
    float: right;
}
.archive-list li span::after {
    content: ')'
}
.archive-list li span::before {
    content: '(';
}
article {
    margin: 30px 0;
}
article .meta {
    text-align: right;
    font-size: 14px;
}
article .meta i {
    padding-left: 10px 
}
article .meta i:before {
    padding-right: 6px;
}
article > .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: block;
}

article > .title::after {
    content:'';
    width:0;
    height:0;
    border-bottom: 1px solid;
    border-left: 1px solid;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
    margin: 0 30px;
}
article > .title::before {
    content:'';
    width:0;
    height:0;
    border-top: 1px solid;
    border-right: 1px solid;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
}
article > .title:hover::after{
    width:calc(100% + 14px);
    height:calc(100% + 14px);
}
article > .title:hover::before{
    width:calc(100% + 14px);
    height:calc(100% + 14px);
}

article > .content {
    margin: 10px;
    text-indent: 24px;
    height: 82px;
    line-height: 26px;
}
article > .content p,article > .content div,article > .content h1,article > .content strong,
article > .content h2,article > .content h3,article > .content li,article > .content ul{
    display: inline;
    font-size: 16px;
    font-weight: 100;
    color: #444;
}
article > .content br {
    display: none
}

