.archive {
    position: relative;
}
.switch {
    cursor: pointer;
    background: #ffac00;
    color: #fff;
    margin-bottom: 20px;
    padding: 4px 10px;
    border-radius: 4px;
    display: inline-block;
}
.switch span {
    margin-left: 10px;
}
#list_archives, #normalposts {
    transition: opacity 1s
}
article {
    margin-bottom: 40px;
}
article .meta {
    text-align: right;
    font-size: 14px;
}
article .meta i {
    padding-left: 10px 
}
article .meta i:before {
    padding-right: 6px;
}
article > .artititle {
    font-weight: 600;
    padding: 14px 8px;
    cursor: pointer;
    position: relative;
    display: block
}
article > .artititle::after {
    content:'';
    width:0;
    height:0;
    border-bottom: 3px solid;
    border-left: 3px solid;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s, height 1s;
    color: rgba(0, 0, 0, 0);
}
article > .artititle::before {
    content:'';
    width:0;
    height:0;
    border-top: 3px solid;
    border-right: 3px solid;
    position: absolute;
    top: 0;
    right: 0;
    transition: width .4s, height .8s;
    color: rgba(0, 0, 0, 0);
}
article > .artititle:hover::after, article > .artititle:hover::before{
    color: inherit;
    width:calc(100% + 10px);
    height:calc(100% + 14px)
}
article .content {
    margin: 10px 0;
    text-indent: 24px;
}
article p {
    display: inline;
    font-size: 90%;
    color: #676767;
    word-break: break-all
}
.archive-list li span::after {
    content: ')'
}
.archive-list li span::before {
    content: '('
}
.archive-list li {
    list-style: circle;
    position: relative;
    z-index: 1;
    margin-left: 20px;
}
.archive-list-link {
    display: inline-block;
    width: calc(100% - 40px);
    padding: 10px 0;
}
.archive-list-count {
    width: 40px;
    text-align: right;
    display: inline-block;
}
.archive-list li:hover {
    color: white
}
.archive-list li:hover::after {
    content: '';
    position: absolute;
    width: calc(100% + 30px);
    top: 0;
    height: 100%;
    transform: translate(0,0);
    background: #ff9537;
    left: -20px;
    z-index: -1;
    border-radius: 4px;
    animation: page-hover .4s
}
