@font-face {
  font-family: "iconfont"; /* Project id 1200423 */
  src: url('iconfont.woff2?t=1631441129277') format('woff2'),
       url('iconfont.woff?t=1631441129277') format('woff'),
       url('iconfont.ttf?t=1631441129277') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontool:before {
  content: "\e797";
}

.iconabout:before {
  content: "\e617";
}

.iconwenzi:before {
  content: "\e675";
}

.iconshijian:before {
  content: "\e600";
}

.iconbiaoqian:before {
  content: "\e603";
}

.iconarchives:before {
  content: "\e63a";
}

.icon404:before {
  content: "\e6c8";
}

.iconlink:before {
  content: "\e623";
}

.iconchakan:before {
  content: "\e69a";
}

.iconGitHub:before {
  content: "\ea0a";
}

.icongou:before {
  content: "\e650";
}

.iconjiantou:before {
  content: "\e61f";
}

.iconsousuo:before {
  content: "\e63c";
}

.iconweibiaoti554:before {
  content: "\e63b";
}

.iconsubscribe-1-copy:before {
  content: "\e606";
}

.iconliuyan:before {
  content: "\e655";
}

.iconHome:before {
  content: "\e65b";
}

.iconmessage-copy:before {
  content: "\ea0b";
}

