.post .info {
	text-align: center;
	margin: 20px 0;
	color: #707070;
}
.post .info i {
	padding: 0 6px;
}
.post .info i::before {
	padding-right: 6px;
}
.postDetail p {
	margin: 20px 0;
}
.postDetail a:not(.headerlink) {
	border-bottom: 1px solid;
	padding: 0 2px;
	color: #0580f6;
}
.postDetail {
	word-break: break-word;
	line-height: 1.75;
	font-weight: 400;
	font-size: 15px;
	overflow-x: hidden;
}
.postDetail h3,
.postDetail h4,
.postDetail h5 {
	border-left: 6px solid;
	margin: 30px 0;
	padding: 0px 6px;
}
.postDetail h1,
.postDetail h2 {
	border-bottom: 1px solid;
	margin: 40px 0;
}
.postDetail img {
	background: #fff;
	margin: 10px 0;
	border-radius: 4px;
}
.postDetail li {
	margin-left: 30px;
	list-style: decimal;
}
.postDetail hr {
	border-style: dotted;
}
.postDetail img {
	max-width: 100%;
	height: auto;
}
.postDetail table {
	margin: 20px 0;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-all;
	background-color: #ffffffcf;
}
.postDetail table > tbody > tr {
	transition: all 1s;
}
.postDetail table > tbody > tr:nth-of-type(odd) {
	background-color: #faf2dead;
}
.postDetail table > tbody > tr:hover {
	background-color: #ffe6a8;
}
.postDetail caption,
th,
td {
	padding: 8px;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
}
.postDetail th {
	padding-bottom: 10px;
	font-weight: 700;
}
.postDetail td {
	border-bottom-width: 1px;
}
.postDetail pre,
.highlight {
	overflow: auto;
	margin: 20px 0;
	padding: 0;
	color: #eee;
	background: #383838;
	line-height: 1.6;
}
.postDetail pre,
code {
	font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
.postDetail code {
	padding: 0px 2px;
	word-wrap: break-word;
	background: rgb(255 248 229);
	border-radius: 3px;
}
.postDetail pre {
	padding: 10px;
}
.postDetail pre code {
	padding: 0;
	color: #4d4d4c;
	background: none;
	text-shadow: none;
}
.postDetail blockquote {
	color: #666;
	padding: 20px;
	margin: 22px 0;
	border-left: 4px solid #cbcbcb;
	background-color: #f8f8f8;
}
.postDetail blockquote li {
	list-style: circle;
}
.highlight {
	border-radius: 1px;
}
.highlight pre {
	border: none;
	margin: 0;
	padding: 10px 0;
}
.highlight table {
	margin: 0;
	width: auto;
	border: none;
}
.highlight td {
	border: none;
	padding: 0;
}
.highlight figcaption {
	font-size: 1em;
	color: #4d4d4c;
	line-height: 1em;
	margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
	content: " ";
	display: table;
}
.highlight figcaption:after {
	clear: both;
}
.highlight figcaption a {
	float: right;
	color: #4d4d4c;
}
.highlight figcaption a:hover {
	border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
	padding-left: 10px;
	padding-right: 10px;
	color: #b4b4b4;
	text-align: right;
	background-color: #565656;
}
.highlight .code pre {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.highlight .line {
	height: 20px;
}
.highlight .function {
	color: #ffe4ad;
}
.line .keyword {
	color: #ffac00;
}
.line .number {
	color: #faff21;
}
.line .string {
	color: #70e193;
}
.line .comment {
	color: #9a9a9a;
}
.line .built_in {
	color: #e68181;
}
.line .title {
	color: #ffac00;
}
.line .selector-pseudo,
.line .tag {
	color: #ff9263;
}
.line .attribute,
.line .name {
	color: #ffac00;
}
.line .selector-tag {
	color: #e170b8;
}
.line .selector-id,
.line .attr {
	color: #66b3d2;
}
