
html, body {
    margin: 0;
    padding: 0;
    color: #444;
    font-weight: 100;
    line-height: 30px;
}
.ellipse {
    position: relative;
    overflow: hidden;
}
.ellipse::after {
    content: "...";
    position: absolute;
    top: 54px;
    font-size: 40px;
    right: 0;
}
.scroll{
    overflow: auto;
}
.scroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 1.5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1.5px;
}
.scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    background: rgba(0,0,0,0.1);
}
.scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
#paginator {
    text-align: center;
    padding: 40px 0 20px 0;
    font-weight: 600;
    color: #ff7d46; 
}
#paginator span {
    margin: 10px;
    border-bottom: 1px solid
}
#paginator a {
    padding: 8px;
    position: relative;
    z-index: 1;
    transition: all 0.4s
}
#paginator a:hover {
    color: #fff;
    background: #ff7d46;
    border-radius: 4px;
}

@keyframes page-hover {
    0% {
        transform: translate(0, 34px);
        height: 0;
    }
}
.main {
    min-height: calc(100vh - 94px);
    width: 100vw;
    animation: bounce-in 2s;
    background: linear-gradient(-48deg,
     #fffcf4 34%, #ff9537 34%, #ff9537 calc(34% + 30px), #fffcf4 calc(34% + 30px),
     #fffcf4 40%, #ffdd7a 40%, #ffdd7a calc(40% + 15%), #fffcf4 calc(40% + 15%),
     #fffcf4 60%, #ffa883 60%, #ffa883 calc(60% + 8%), #fffcf4 calc(60% + 8%));
    transition: all 1s;
    overflow-x: hidden;
}
.title {
    font-size: 24px;
    vertical-align: middle;
    margin: 30px 10px;
    font-weight: 900;
    text-align: center
}
@keyframes bounce-in {
    0% {
        transform: translate(50vw, 0);
        opacity: 0;
    }
    50% {
        transform: translate(25vw, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@media (min-width: 600px ){
    html, body {
        font-size: 16px;
    }
    .maxwidth {
        width: 100vw;
        max-width: 1600px;
        min-width: 1000px;
        margin: auto;
    }
    #sidebar {
        margin-left: 30px;
        min-height: calc(100vh - 150px);
    }
    .rightside {
        padding: 30px;
        display: inline-block;
        background: #ffffffa3;
        width: calc(100% - 410px);
        margin: 0 10px;
    } 
    #sidebar {
        width: 240px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;    
    }
    body {
        min-width: 1000px;
    }
}
@media (max-width: 600px) {
    html, body {
        font-size: 14px;
    }
    body {
        min-width: 350px;
    }
    .maxwidth, .rightside {
        width: calc(100% - 32px);
        padding: 0 16px;
    }
    .rightside {
        background: #ffffffa3;
    }
    #sidebar {
        width: calc(100% - 72px);
        display: inline-block;
        margin: 0 16px;
    }
}