html,
body {
	color: #555;
	line-height: 1.7;
	font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
}
html {
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
	background: linear-gradient(
		-48deg,
		#ffa883 0%,
		#ffa883 10%,
		#fffcf4 10%,
		#fffcf4 34%,
		#ff9537 34%,
		#ff9537 calc(34% + 30px),
		#fffcf4 calc(34% + 30px),
		#fffcf4 40%,
		#ffdd7a 40%,
		#ffdd7a calc(40% + 15%),
		#fffcf4 calc(40% + 15%),
		#fffcf4 60%,
		#ffa883 60%,
		#ffa883 calc(60% + 15%),
		#fffcf4 calc(60% + 15%)
	)
}
.ellipse {
	position: relative;
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #ffebb5
}
body::-webkit-scrollbar-track {
	border-radius: 0;
	background: #fffcf4;
}
#sidebar::-webkit-scrollbar {
	width: 0;
	height: 0;
}
#paginator {
	text-align: center;
	padding: 40px 0 20px 0;
	font-weight: 600;
	color: #ff7d46;
}
#paginator .current {
	margin: 10px;
	border-bottom: 1px solid;
	cursor: default;
}
#paginator a {
	padding: 4px 8px;
	position: relative;
	z-index: 1;
	transition: all 0.4s;
}
#paginator a:hover {
	color: #fff;
	background: #ff7d46;
	border-radius: 4px;
}

@keyframes page-hover {
	0% {
		transform: translate(0, 34px);
		height: 0;
	}
}
.artititle {
	vertical-align: middle;
	font-weight: 900;
	text-align: center;
}
.maxwidth {
	padding: 0 16px;
	width: 100vw;
	margin: auto;
	box-sizing: border-box;
}
.rightside {
	background: rgb(255 255 255 / 90%);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
@media (min-width: 600px) {
	.maxwidth {
		max-width: 1400px;
	}
	.main .maxwidth {
		display: flex;
	}
	#sidebar {
		height: calc(100vh - 120px);
		z-index: 2;
		overflow: auto;
		width: 300px;
		box-sizing: border-box;
		position: sticky;
        top: 76px;
	}
	.rightside {
		padding: 30px;
        margin: 0 0 0 16px;
		flex: 1;
		overflow: hidden;
		display: flex;
        flex-direction: column;
	}
}
@media (max-width: 600px) {
	.rightside {
		padding: 8px;
		min-height: 80vh;
	}
	#sidebar {
		display: inline-block;
		margin-bottom: 40px;
		animation: none !important;
	}
	.header .search {
		display: none;
	}
	.header .nav {
		width: 100%;
		justify-content: space-between;
	}
}
