style.
    .copyright {
        padding: 6px 20px;
        color: #ff9537;
        border-radius: 4px;
        background: white;
        font-weight: 600;
        margin: 20px 0;
    }
.copyright
    p="更新时间："+ date(page.date, "YYYY-MM-DD")
    != theme.article_txt
