extends _partial/layout.pug

block cssFile
    link(rel="stylesheet" href="/css/index.css")

block main
    .maxwidth
        #posts.rightside
            if page.posts.length > 0
                each post in page.posts.sort('date', -1).limit(10).toArray()
                    article
                        a.title(href=url_for(post.path))= post.title
                        .meta
                            span.post-time= date(post.date, "YYYY-MM-DD HH:mm")
                        .content.ellipse
                            p!= post.content
            #paginator!= paginator()
